.resume-button {
    color: #FFFFFF;
    background-color: #1EA365;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.resume-button:hover {
    background-color: #00B383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
    margin-left: 15px;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000000;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #1EA365;
    visibility: hidden;
    transition: 0.3s width, 0.3s visibility ease-in-out;
}

.nav-link:hover::before,
.nav-link.active::before {
    width: 100%;
    visibility: visible;
}